VITE_SUPABASE_URL=https://staywofehwxmvxpixwrw.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InN0YXl3b2ZlaHd4bXZ4cGl4d3J3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUyMjgxNTgsImV4cCI6MjA5MDgwNDE1OH0.xEHhjcMlVWdPp0HgoA0RjfkSHXWGd95razD58mOcoOQ